@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{

    font-family: "Barlow Semi Condensed",sans-serif;
    font-size: 13px;
    line-height: 1.7em;
    background-color:white;
}

.testimonial{
    max-width: 1440px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding: 10px;
}

.card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 48px 100px 0px rgba(17, 12, 46, 0.15);
    padding: 25px;
    margin-bottom: 20px;
    
}

.header{
    display: flex;
    gap:0.2rem;
    align-items: center;
    line-height: 1.3em;
}

.header img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
}

.card_speech{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5em;
    color: white;
}

.card_quote{
    line-height: 2em;
}

.card:nth-of-type(1){
    background-image: url("images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top 10px right 100px;
    grid-column: 1/3;
}

.card:nth-of-type(5){
    grid-column: 2/4;
}

.card:nth-of-type(4){
    grid-column: 4;
    grid-row: 1 / 3;
}

.card:nth-of-type(1) .card_quote{
    color: hsl(264, 82%, 80%);
}
.card:nth-of-type(3) .card_speech,.card_quote ,.card:nth-of-type(4) .card_speech,.card_quote {
    color: hsl(219, 29%, 14%);
}

.card:nth-of-type(2) .card_quote ,.card:nth-of-type(5) .card_quote{
    color: white;
}

.card:nth-of-type(2) .header h3{
    color: white;
}
.card:nth-of-type(5) .header h3{
    color: white;
}
.card:nth-of-type(2) .header p{
    color: hsl(214, 17%, 92%);
}
.card:nth-of-type(5) .header p{
    color: hsl(214, 17%, 92%);
}

.card:nth-of-type(1){
    background-color:  hsl(263, 55%, 52%);
}
.card:nth-of-type(2){
    background-color: hsl(217, 19%, 35%);
}

.card:nth-of-type(5){
    background-color: hsl(219, 29%, 14%);
}


@media (max-width: 768px) {
    .testimonial {
      grid-template-columns: 1fr;
      width: 100%;
    }

    .card:nth-of-type(1){
        grid-column:1;
    }

    .card:nth-of-type(4){
        grid-column: 1;
        grid-row: 4;
    }

    .card:nth-of-type(5){
        grid-column: 1;
        grid-row: 5;
    }
  }